PROJECT_NAME=
PROJECT_VERSION=
BACKEND_CORS_ORIGINS=
SECRET_KEY=

KEYCLOAK_SERVER_URL=
KEYCLOAK_CALLBACK_URI=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_REALM=
